In [1]:
def f(x):
    y = x
    x = 5
    return y * y

x = 3
print(f(x))
print(x)

9
3

In [ ]:
def spam(eggs):
    eggs.append(1)
    eggs = [2, 3]

ham = [0]
spam(ham)
print(ham)

In [4]:
def test(t):
    print(x)
    # -> 전역변수로 사용된 x를 불러옴
    t = 20
    print('In function : ', t)

x = 10
test(x)
print('In main : ', x)
# print('In main : ', t)
# -> test(t)라는 함수 안에 있어서 함수 밖에서는 사용 못함

10
In function :  20
In main :  10

In [8]:
def f():
    s = "I love London!"
    print('In function : ',s)

s = "I love Paris!"
f()
# -> 
print('In main : ',s)

In function :  I love London!
In main :  I love Paris!

In [10]:
def f():
    global s
    s = "I love London!"
    print('In function : ',s)

s = "I love Paris!"
f()
# -> 
print('In main : ',s)

In function :  I love London!
In main :  I love London!

In [14]:
def f(a, b, c):
    print(a, b, c)

f(1,2,3)
f(b=10, c=30, a=20)

1 2 3
20 10 30

In [16]:
# 디폴트 인수를 지정해야 할 때는 항상 끝에서부터 써야 함
def f1(a, b, c=10):
    print(a, b, c)

f1(10, 20)
f1(10, 20, 30)

10 20 10
10 20 30

In [22]:
# 가변 인수 * (asterisk)
def func1(a, b, *c):
    print(a, b, c)
    print(a, b, *c)
    print(c)
    print(*c)

func1(1, 2, 3)
func1(1, 2, 3, 4, 5)
func1(1, 2, 3, 4, 5, 6, 7)

1 2 (3,)
1 2 3
(3,)
3
1 2 (3, 4, 5)
1 2 3 4 5
(3, 4, 5)
3 4 5
1 2 (3, 4, 5, 6, 7)
1 2 3 4 5 6 7
(3, 4, 5, 6, 7)
3 4 5 6 7

In [24]:
def func2(*arg):
    a, b, c*=arg
    print(a,b,c)
    print(a,b,*c)

func2(1,2,3)
func2(1,2,3,4,5)
func2(1,2,3,4,5,6,7)

SyntaxError: 'tuple' is an illegal expression for augmented assignment (980664481.py, line 2)

In [29]:
def func3(**kwarg):
    print(kwarg)
    print("first:{first}".format(**kwarg))
    print("second:{second}".format(**kwarg))
    print("third:{third}".format(**kwarg))

func3(first=10, second=20, third=30)

{'first': 10, 'second': 20, 'third': 30}
first:10
second:20
third:30

In [30]:
# 문자열 슬라이싱
a = 'Hello world'
print(a[0], a[10])
print(a[-11], a[-1])

H d
H d

In [33]:
print(a[1:9:2]) #start:stop:step
print(a[::-1])
print(a[-50:50])
print(a[::2])
print(a[5:])
print(a[:5])

el o
dlrow olleH
Hello world
Hlowrd
 world
Hello

In [35]:
# 문자열 연산
a = 'team'
b = 'lab'
print(a + ", " + b)
print(a*2 + b*3)

team, lab
teamteamlablablab

In [46]:
a = 'teAMlab x inFlEarN'
print(a.title())
print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.count('a'))
print(a.count('A'))
print(a.isdigit())
print(a.startswith('te'))
print(a.endswith('N'))
print(a.split())

Teamlab X Inflearn
TEAMLAB X INFLEARN
teamlab x inflearn
Teamlab x inflearn
2
1
False
True
True
['teAMlab', 'x', 'inFlEarN']

In [50]:
f = open('yesterday.txt', 'r')
yesterday_lyric = f.readlines()
yesterday_lyric
f.close()

In [51]:
contents = ""
for line in yesterday_lyric:
    contents = contents + line.strip() + "\n"

n_of_yesterday = contents.upper().count("YESTERDAY")
print("Number of a word 'Yesterday' : ", n_of_yesterday)

Number of a word 'Yesterday' :  9

In [53]:
name = "홍길동"
age = 20
job = "학생"
print(name, age, job)
print('이름 : ', name, ' 나이 : ', age, ' 직업 : ', job)
print('이름 : %s, 나이 : %d, 직업 : %s'%(name, age, job))
print('이름 : {0}, 나이 : {1}, 직업 : {2}'.format(name, age, job))
print('이름 : {0}, 직업 : {1}, 이름 : {0}'.format(name, job))

홍길동 20 학생
이름 :  홍길동  나이 :  20  직업 :  학생
이름 : 홍길동, 나이 : 20, 직업 : 학생
이름 : 홍길동, 나이 : 20, 직업 : 학생
이름 : 홍길동, 직업 : 학생, 이름 : 홍길동

In [55]:
print('%10s'%(name))
print('%10d'%age)
print('%5.2f'%5.2948375)

       홍길동
        20
 5.29

In [56]:
print('{0:>10s}'.format(name))
print("{0:<10s}{1}".format(name, age))

       홍길동
홍길동       20

In [58]:
print("{name1:<5}{age1:<5}{job1:<5}".format(name1 = name, age1 = age, job1 = job))

홍길동  20   학생

In [59]:
colors = ['red', 'green', 'blue', 'black']
numbers = [1,2,3,4,5,6,7,8,9,10]
print(colors[0], colors[3])
print(numbers[0], numbers[9])

red black
1 10

In [64]:
start = 0
stop = 10
step = 1
numbers[start:stop:step]
numbers[:10:]
numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [69]:
# 연산
color1 = ['red', 'blue', 'green']
color2 = ['orange', 'black', 'white']
print(color1 + color2)
color1.append('pink')
print(color1)
color1.extend(color2)
print(color1)
color1.insert(1, 'purple')
print(color1)
color1.remove('purple')
print(color1)
del color1[1]
print(color1)

['red', 'blue', 'green', 'orange', 'black', 'white']
['red', 'blue', 'green', 'pink']
['red', 'blue', 'green', 'pink', 'orange', 'black', 'white']
['red', 'purple', 'blue', 'green', 'pink', 'orange', 'black', 'white']
['red', 'blue', 'green', 'pink', 'orange', 'black', 'white']
['red', 'green', 'pink', 'orange', 'black', 'white']