In [1]:
import sqlite3

In [24]:
def create_table():
    conn = sqlite3.connect('my_books.db')
    # db작업이 위의 파일에 들어감
    cursor = conn.cursor()
    #cursor 생성

    sql='''create table if not exists books(
        title text,
        published_date text,
        publisher text,
        pages integer,
        recommend integer
    )'''
    cursor.execute(sql)

    conn.commit()
    conn.close()
create_table()

In [25]:
def insert_books():
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    sql = "insert into books values('java', '2024-04'21', '길벗', 500, 10)"
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [26]:
def insert_books2(data):
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    sql = "insert into books values(?,?,?,?,?)"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [27]:
data = ('python', '2024-02-01', '한빛', 350, 10)
insert_books2(data)

In [16]:
def insert_books3(datas):
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    sql = "insert into books values(?,?,?,?,?)"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

In [17]:
datas=[('빅데이터', '2024-01-14' , '생능', 250, 20),
       ('안드로이드', '2023-02-14', '이지퍼블리싱', 560, 30),
       ('Spring', '2024-01-02', '영진', 650, 15)]
insert_books3