In [1]:
import sqlite3

In [24]:
def create_table():
    conn = sqlite3.connect('my_books.db')
    # db작업이 위의 파일에 들어감
    cursor = conn.cursor()
    #cursor 생성

    sql='''create table if not exists books(
        title text,
        published_date text,
        publisher text,
        pages integer,
        recommend integer
    )'''
    cursor.execute(sql)

    conn.commit()
    conn.close()
create_table()

In [47]:
# insert

def insert_books():
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    sql = "insert into books values('java', '2024-04'21', '길벗', 500, 10)"
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [26]:
def insert_books2(data):
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    sql = "insert into books values(?,?,?,?,?)"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [27]:
data = ('python', '2024-02-01', '한빛', 350, 10)
insert_books2(data)

In [16]:
def insert_books3(datas):
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    sql = "insert into books values(?,?,?,?,?)"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

In [34]:
datas=[('빅데이터', '2024-01-14' , '생능', 250, 20),
       ('안드로이드', '2023-02-14', '이지퍼블리싱', 560, 30),
       ('Spring', '2024-01-02', '영진', 650, 15)]
insert_books3(datas)

In [28]:
# select

def one_book():
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    cursor.execute("select * from books")
    book = cursor.fetchone()
    print(type(book))
    print(book)
    conn.close()

one_book()

<class 'tuple'>
('python', '2024-02-01', '한빛', 350, 10)

In [39]:
def some_books(number):
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    cursor.execute("select * from books")
    books = cursor.fetchmany(number)
    for book in books:
        print(book)
    conn.close()

some_books(3)

('python', '2024-02-01', '한빛', 350, 10)
('빅데이터', '2024-01-14', '생능', 250, 20)
('안드로이드', '2023-02-14', '이지퍼블리싱', 560, 30)

In [44]:
def all_book():
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    cursor.execute("select * from books")
    # 조건 지정
    # cursor.execute("select * from books where pages > 300 order by pages desc")
    books = cursor.fetchall()
    for book in books:
        print(book)
    conn.close()

all_book()

('python', '2024-02-01', '한빛', 350, 10)
('빅데이터', '2024-01-14', '생능', 250, 20)
('안드로이드', '2023-02-14', '이지퍼블리싱', 560, 30)
('Spring', '2024-01-02', '영진', 600, 20)

In [42]:
# update

def update_books(data):
    conn = sqlite3.connect("my_books.db")
    cursor = conn.cursor()
    sql = 'update books set pages=?, recommend=? where title=?'
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [45]:
data = (600, 20, 'Spring')
update_books(data)
all_book()

('python', '2024-02-01', '한빛', 350, 10)
('빅데이터', '2024-01-14', '생능', 250, 20)
('안드로이드', '2023-02-14', '이지퍼블리싱', 560, 30)
('Spring', '2024-01-02', '영진', 600, 20)

In [48]:
def update_books(data):
    conn = sqlite3.connect("my_books.db")
    cursor = conn.cursor()
    sql = 'update books set pages=?, recommend=? where title=?'
    cursor.executemany(sql, data)
    conn.commit()
    conn.close()

In [49]:
datas=[(1000, 20, 'python'),
       (700, 53, '안드로이드')]
update_books(datas)
all_book()

('python', '2024-02-01', '한빛', 1000, 20)
('빅데이터', '2024-01-14', '생능', 250, 20)
('안드로이드', '2023-02-14', '이지퍼블리싱', 700, 53)
('Spring', '2024-01-02', '영진', 600, 20)

In [51]:
# delete

def delete_book():
    conn = sqlite3.connect('my_books.db')
    cursor = conn.cursor()
    sql = "delete from books where publisher = '한빛'"
    cursor.execute(sql)
    conn.commit()
    conn.close()
delete_book()
all_book()

('빅데이터', '2024-01-14', '생능', 250, 20)
('안드로이드', '2023-02-14', '이지퍼블리싱', 700, 53)
('Spring', '2024-01-02', '영진', 600, 20)