In [1]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\it\anaconda3\lib\site-packages (1.1.1)

In [2]:
import pymysql

In [4]:
# DB 연결

conn = pymysql.connect (
    host='localhost',
    user='ksh',
    password='1234',
    db='pydb',
    charset='utf8'
    )

cursor = conn.cursor()

In [5]:
# 데이터 입력
# 1개의 데이터 입력
def insert_data1(data):
    conn = pymysql.connect(
        host='localhost',
        user='ksh',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor = conn.cursor()
    sql = "insert into book(title, pub, pages, author) values(%s, %s, %s, %s)"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [6]:
data=('python program', '한빛', 20, '홍길동')
insert_data1(data)

In [10]:
# 복수의 데이터 입력
def insert_data2(datas):
    conn = pymysql.connect(
        host='localhost',
        user='ksh',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor = conn.cursor()
    sql = "insert into book(title, pub, pages, author) values(%s, %s, %s, %s)"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

In [11]:
data_list=[('java', '생능', 500, '황기태'),
           ('database', '한빛', 350, '서진수')]
insert_data2(data_list)

In [12]:
# 데이터 조회

# 전체 데이터 조회
def select_all():
    conn = pymysql.connect(
        host='localhost',
        user='ksh',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql = "select * from book"
    cursor.execute(sql)
    for book in cursor:
        print(book)
    conn.close()

select_all()

(1, 'python program', '한빛', 20, '홍길동')
(2, 'java', '생능', 500, '황기태')
(3, 'database', '한빛', 350, '서진수')

In [17]:
# 조건 검색
def select_condition(title):
    conn = pymysql.connect(
        host='localhost',
        user='ksh',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql = "select * from book where title = %s"
    cursor.execute(sql, (title))
    for book in cursor:
        print(book)
    conn.close()

select_condition('java')

(2, 'java', '생능', 500, '황기태')